# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Editor directories
.vscode/
.idea/

# Env files
.env

# Database
*.db
dev.db
